In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [5]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [14]:
X = df[[2,3,4]]

In [16]:
#花弁の長さと幅の平均値
X.describe()

                2           3
count  150.000000  150.000000
mean     3.758667    1.198667
std      1.764420    0.763161
min      1.000000    0.100000
25%      1.600000    0.300000
50%      4.350000    1.300000
75%      5.100000    1.800000
max      6.900000    2.500000

In [21]:
np.cov(X[[2,3]],rowvar=0,bias=0)#bias=1：標本分散、bias=0：不偏分散

array([[ 3.11317942,  1.29638747],
       [ 1.29638747,  0.58241432]])